body {
    font-family: "Roboto", sans-serif;
}

.menu {
    @extend %background-color-base;
}
section p {
    text-align: justify;
}

#git,
#github,
#nodejs {
    padding: 3em 0 6em 0;
}

.titulo-secao {
    text-decoration: underline;
    font-size: 2em;
    text-align: center;
    padding: 0 0 1.5em 0;
}

.referencia a{
    color: $cor-referencia;
}

a{
    color: $cor-link;
}

img{
    padding-bottom: 2px;
}

.item-section {
    right: 0;
    margin: 0 0 1em 0;
}

.destaque {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}