
.menu {
    background-color: $cor-base;
}
section p {
    text-align: justify;
}
h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
}

.referencia a{
    color: $cor-referencia;
}

a{
    color: $cor-link;
}

img{
    padding-bottom: 2px;
}

