.video-section .pattern-overlay {
    background-color: rgba($cor-base, 0.76);
    padding-top: 110px;
    min-height: 600px;
}
.video-section h1, .video-section h3{
    text-align:center;
    color: $cor-branca;
}

.video-section h1{
    @include fonte-padronizada(7em,'Buenard',bold);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
}

.video-section h3{
    @include fonte-padronizada(25px,inherit,lighter);
}

.video-section .buttonBar{display:none;}
.player {
    @include  fonte-padronizada(1px);
}

.video-section form {
    margin: 1em auto;
}

.video-section button {
    margin: 1em auto;
    background: $cor-botao;
    border: 0;
    padding: .6em;
    color: $cor-branca;
    @include fonte-padronizada(1.2em,inherit,bold);
    @include borda-arredondada(50px);
    @extend %sobra-padronizada;
}
