@mixin fonte-padronizada($font-size : 1.2em, $font-family: serif, $font-weight: min(0.1) ){
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
}

@mixin borda-arredondada($raio: 0.3em) {
  -webkit-border-radius: $raio;
  border-radius: $raio;
}