$cor-branca: #FFF;
$cor-base: darken(#051b38, 0);
$cor-auxiliar: lighten(#051b38, 1);
$cor-referencia: #83ffe6;
$cor-link: #0056b3;
$cor-botao: darken(#c24e4b, 16);

$font-size: 1.2em;
$font-family: 'Buenard', serif;
$font-weight: min(0.1);

$raio: 0.3em;