
.menu {
    background-color: #051b38;
}
section p {
    text-align: justify;
}
h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
}

.referencia a{
    color: #83ffe6;
}

a{
    color: #0056b3;
}

img{
    padding-bottom: 2px;
}

