#nodejs .btn-outline {
    color: #051B38;
    border: solid 2px #051B38;
}

#github , #git, #nodejs{
    font-size: 1.2em;
    padding: 1%;
    padding-bottom: 5%;
}

#github {
    background-color: #051B38;
    color: #fafafa;
}

#github h1 {
    padding-top: 1%;
    font-size: 3em;
    color: #fff;
}

#git h1, #nodejs h1 {
    padding-top: 1%;
    font-size: 3em;
    color: #051B38;
    padding-bottom: 2%;
}

#git .item-section {
    right: 0;
    margin: 0 0 15px;
}

.item-section{
    margin-bottom: 4px;
}